# Masukan API ID ambil di web my.telegram.org
API_ID = "0"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "0"

# Masukan String PYROGRAM Bisa di ambil Lewat Bot . Silahkan cek di grup t.me/PocongUserbot 
STRING_SESSION = ""

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = ""